@model IEnumerable<Person>//La vista recibe un IEnumerable de Person(modelo)

@{
    ViewData["Title"] = "Inicio";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Personas</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Person" asp-action="Create" class="btn btn-primary"> 
                Crear Nueva Persona
            </a>
        </div>
    </div>
</div>
<br />

<table id="datatable" class="display cell-border compact" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="BodyData">
        
    </tbody>
@*    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.LastName</td>
                <td>@obj.Year</td>
                <td class="d-flex justify-content-center" role="group">  
                    <a asp-controller="Person" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning mx-3">Editar</a>
                    <a asp-controller="Person" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>

@section Scripts{
    <script>
    
        let table = new DataTable('#datatable', {
            "ajax":{
                "url": "@Url.Action("GetData", "Person")",
                "type": "POST",
                "contentType": 'application/x-www-form-urlencoded; charset=UTF-8', //es el tipo de datos que está enviando. Esto es predeterminado
                "datatype": "json", //es lo que espera el servidor (json, html, text, etc)
                "dataSrc": "", //Esto sirve para cuando el arreglo de obj del json no tiene nombre..

            },
            "columns": [
               {"data": 'id'},
               {"data": 'name'},
               {"data": 'lastName'},
               {"data": 'year'},
               {"render": function (data, type, full, meta) { 
                       const editDelete = 
                       `<div>
                            <a href='/Person/Edit/${full.id}' class='btn btn-warning'>Edit</a>
                            <a href='/Person/Delete/${full.id}' class='btn btn-danger'>Delete</a>
                       <div>`; 
                       return editDelete
                   }
               },
            ],
            "language":{
                url: "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },

           
        });
    </script>
}